.tc-cardhover-14 {
  background-color: #fff;
  color: #ffffff;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  width: 100%;
  overflow: hidden;
  position: relative;
  text-align: right;
  width: 100%;
}

.tc-cardhover-14 *, .tc-cardhover-14 *:before, .tc-cardhover-14 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.tc-cardhover-14 img {
  backface-visibility: hidden;
  width: 100%;
  vertical-align: top;
  margin-bottom: 0px;
}

.tc-cardhover-14:before, .tc-cardhover-14:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color: #3b96f6;
  opacity: 0.5;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.tc-cardhover-14:before {
  -webkit-transform: skew(30deg) translateX(80%);
  transform: skew(30deg) translateX(80%);
}

.tc-cardhover-14:after {
  -webkit-transform: skew(-30deg) translateX(70%);
  transform: skew(-30deg) translateX(70%);
}

.tc-cardhover-14 figcaption {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  bottom: 0;
  padding: 20px 20px 20px 40%;
}

.tc-cardhover-14 figcaption:before, .tc-cardhover-14 figcaption:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #895dfc;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  content: '';
  opacity: 0.5;
  z-index: -1;
}

.tc-cardhover-14 figcaption:before {
  -webkit-transform: skew(30deg) translateX(100%);
  transform: skew(30deg) translateX(100%);
}

.tc-cardhover-14 figcaption:after {
  -webkit-transform: skew(-30deg) translateX(90%);
  transform: skew(-30deg) translateX(90%);
}

.tc-cardhover-14 h3, .tc-cardhover-14 p {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}

.tc-cardhover-14 h3 {
  font-family: 'Teko', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.tc-cardhover-14 p {
  font-size: 0.9em;
}

.tc-cardhover-14:hover h3, .tc-cardhover-14.hover h3, .tc-cardhover-14:hover p, .tc-cardhover-14.hover p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 0.9;
}

.tc-cardhover-14:hover:before, .tc-cardhover-14.hover:before {
  -webkit-transform: skew(30deg) translateX(30%);
  transform: skew(30deg) translateX(30%);
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.tc-cardhover-14:hover:after, .tc-cardhover-14.hover:after {
  -webkit-transform: skew(-30deg) translateX(20%);
  transform: skew(-30deg) translateX(20%);
}

.tc-cardhover-14:hover figcaption:before, .tc-cardhover-14.hover figcaption:before {
  -webkit-transform: skew(30deg) translateX(50%);
  transform: skew(30deg) translateX(50%);
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.tc-cardhover-14:hover figcaption:after, .tc-cardhover-14.hover figcaption:after {
  -webkit-transform: skew(-30deg) translateX(40%);
  transform: skew(-30deg) translateX(40%);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

