body {
    
    background-image:url('../images/director.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    min-height: 550px;
    font-family: 'Langar', cursive;
    color: white;
    
  }
  .navbar{
      background-color: #ffffffb9;
      font-family: 'Langar', cursive;
      font-size: xx-large;
      font-weight: bold;
     color:rgb(41 14 60);
  }  
  .navbar-brand{
      margin-left:3%;
  }
  
  .head{
     margin-right:40% ;
  
  }
  .actorimg{
      width: 100%;
  }
form{
    margin-top: 26%;
}
.gendr{
    margin-left:43%;
    margin-top: 15px ;
    margin-bottom: 15px ;
}

@media (max-width: 470px) { 
    .head{
        margin-right:0% ;
     
     }
     body {
    
        background-image:url('../images/back.PNG');
        min-height: 1050px;
     }
}
